.mainContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: radial-gradient(circle, rgba(60,60,104,1) 0%, rgba(6,1,31,1) 100%);
	align-content: center;
	z-index: -1;
}

.layers {
	width: 30%;
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
	width: 100%;
	height: auto;
	display: block;

}

.imgContainer {
	position: relative;
}

.glow {
	position: absolute;
	height: 0%;
	width: 0%;
	box-shadow:
    0 0 100px 50px #fff,  /* inner white */
    0 0 180px 100px #f0f, /* middle magenta */
    0 0 260px 150px #0ff; /* outer cyan */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}