.spinnerContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Set the desired height for the loading spinner container */
  gap: 20px;
  border: 2px solid white;
  background: #0000004a;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  margin-left: auto;
  margin-right: auto;
}

.title {

}


