.mainContainer {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 100vh;
}

.title {
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    backdrop-filter: blur(10px);
}

.subtitle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-weight: bold;
    backdrop-filter: blur(10px);

}

.subContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    gap: 30px;
}

.box {
    font-size: 20px;
    font-family: 'Montserrat';
    width: 300px;
    border: 3px solid white;
    border-radius: 145px 145px 20px 20px;
    background: #0000004a;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.image {
    width: 100%;
    border: 3px solid white;
    border-radius: 145px;
}

.boxTitle {
    margin-top: 30px;

}

.unvisible {
    opacity: 0;
    transition: opacity 0.5s ease;

}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease;

}

.appear {
    display: block;
    transition: 0.5s ease;
}

.disappear {
    display: none;
    transition: 0.5s ease;
}

.pTitle {
    width: 300px;
    border: 2px solid white;
    background: #0000004a;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pContainer {
    display: flex;
    width: 300px;
    border: 2px solid white;
    background: #0000004a;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.pImage {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.pMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.description {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: #0000004a;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.encourageContainer {
    width: 300px; /* Increased width */
    display: flex;
    gap: 30px; /* Increased gap */
    flex-direction: column;
    top: 60%;
    background: #0000004a;
    backdrop-filter: blur(10px); /* Changed background for visibility */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Added padding */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Added shadow for depth */
    transition: transform 0.3s ease;
    position: relative;
    z-index: 500; /* Smooth transition for hover effect */
}

.encourageContainer:hover {
    z-index: 501;
}

/* Adding a hover effect to scale the container slightly */



.eImage {
    
    border: 2px solid white;
    background: #0000004a;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
}

.eImage:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
}

.encourageMainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px;
}

#id1 {

}

#id2 {
    justify-content: flex-end;
    margin-left: auto;
}

.eButton {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #33a6f6;
    color: white;
    margin-left: auto;
    font-weight: bold;
}

#centerButton {
    z-index: 60;
    min-width: 400px;
    width: 40%;
}

.eButton:hover {
    background: #2A89CB;
}

.eButton:active {
    background: #2474AB;
}

.scroll {
    position: absolute;
    
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.scrollBackground {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 500;
}

.discover {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #33a6f6;
    color: white;
    margin-left: auto;
    z-index: 60;
}

.discover:hover {
    background: #2A89CB;
}

.discover:active {
    background: #2474AB;
}


#scrollBtn {
    display: block;
    margin: 0 auto;
    min-width: 400px;
    width: 40%;
    z-index: 600;
    position: relative;
}

#encourageButton {
    z-index: 6000;
    position: relative;
}

@media (max-width: 768px) {

    .encourageContainer {
        width: 200px;
    }

    #centerButton {
        width: 85%;
        min-width: 150px;
    }

    #scrollBtn {
        display: block;
        margin: 0 auto;
        min-width: 150px;
        width: 85%;
        z-index: 600;
    }

    .title {
        font-size: 28px;
        margin-top: 30px;
    }

    .subtitle {
        font-size: 14px;
    }

    .encourageMainContainer {
        flex-direction: column;
        gap: 20px;

    }

    .encourageContainer {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }


}

